.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #eedece;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  font-weight: bold;
  font-size: 20px;
}

.top-nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  box-sizing: border-box;
  padding: 0.25rem;
  background-color: #303848;
  color: #eedece;
  position: fixed;
  margin: auto auto auto 250px;
  width: calc(100vw - 250px);
  padding: 1em;
}

.top-nav-btn {
  margin: auto;
  color: #000000;
  background-color: #eedece;
  font-weight: bold;
  padding: 0.5em 2.5em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 24px;
  box-sizing: border-box;
}

.top-nav-btn:hover {
  color: #fb5235;
}

.error {
  color: #fb5235;
}

html {
  background-color: #303848;
}

input {
  width: max-content;
  box-sizing: border-box;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

svg {
  fill: #303848;
}

svg:hover {
  fill: #fb5235;
}

.content-area {
  margin-left: 250px;
  padding-top: 80px;
  height: 100%;
  box-sizing: border-box;
}

.pokecompare {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, auto));
}

.pokecompare-list {
  display: grid;
  overflow-y: scroll;
  height: 320px;
  grid-auto-flow: row;
  gap: 1rem;
  padding: 1rem;
  background-color: #303848;
  box-sizing: border-box;
  margin: auto;
  border-radius: 2rem;
}

.pokecompare-row {
  width: 100%;
  text-align: center;
  background-color: #eedece;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: auto;
  font-weight: bold;
  box-sizing: border-box;
}

.selected {
  color: #fb5235;
  border: 2px solid #fb5235;
  box-sizing: border-box;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, auto));
  width: 100%;
  box-sizing: border-box;
}

.span-all-columns {
  grid-column: 1 / -1;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.indent {
  padding-left: 1rem;
}

.clickable {
  cursor: pointer;
}

.grid-border {
  border: 1px solid #303848;
  border-collapse: separate;
  border-width: 0 0 1px 1px;
  margin: auto;
  width: max-content;
}

.cell-border {
  border: 1px solid #303848;
  border-collapse: separate;
  border-width: 1px 1px 0 0;
  padding: 4px 8px;
}

.flex {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-sizing: border-box;
}

.centre-text {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.nav-bar {
  height: 100vh;
  position: fixed;
  width: 250px;
  font-weight: 500;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  padding: 1rem;
  background-color: #303848;
  box-sizing: border-box;
}

.row {
  background-color: #eedece;
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: auto;
  font-weight: bold;
  box-sizing: border-box;
}

.selected-row {
  background-color: #fb5235;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 2rem;
  margin: auto;
  font-weight: bold;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  width: '100%';
}

.species-card {
  background-color: #303848;
  display: grid;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #eedece;
  margin: 0.5em;
  padding: 1.25em;
  gap: 0.5em;
  font-size: 1.5rem;
}

.key-value-pair {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content minmax(max-content, auto);
  width: max-content;
  gap: 0.25rem;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
}

.default-margin {
  margin: 0.5em;
  box-sizing: border-box;
}
